<!DOCTYPE html>
<html>
<head>
    <title>Entries</title>
</head>
<body>
    {% include 'navigation.html' %}
    <form method="POST" action="">
        <label for="search_identifier">Search by identifier:</label>
        <input type="text" id="search_identifier" name="search_identifier">
        <input type="submit" value="Search">
    </form>
    <table>
        <tr>
            <th>Param 1</th>
            <th>Param 2</th>
            <th>Param 3</th>
            <th>Param 4</th>
            <th>Param 5</th>
            <th>Param 6</th>
        </tr>
        {% if entry %}
        <tr>
            <td>{{ entry[2] }}</td>
            <td>{{ entry[3] }}</td>
            <td>{{ entry[4] }}</td>
            <td>{{ entry[5] }}</td>
            <td>{{ entry[6] }}</td>
            <td>{{ entry[7] }}</td>
        </tr>
        {% endif %}
    </table>
</body>
</html>
